header {
    background-color: var(--secondary-color);
    color: var(--white-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px;
    .email,
    .phone {
        font-family: var(--font-bold);
    }
    .email {
        margin-right: 35px;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        z-index: 1;
        grid-area: select;
        &::-ms-expand {
            display: none;
        }
        outline: none;
    }

    .select {
        display: grid;
        grid-template-areas: "select";
        align-items: center;
        position: relative;

        &::after {
            content: "";
            justify-self: end;
            width: 0.8em;
            height: 0.5em;
            background-color: #000000;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            grid-area: select;
        }
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
    }

    // Interim solution until :focus-within has better support
    select:focus + .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
    }

    // select {
    //     background: transparent;
    //     color: var(--white-text);
    //     border: none;
    //     &:focus-visible{
    //         outline: none;
    //     }
    //     option{
    //         color: var(--black-text);
    //     }
    // }
    .currencies,
    .login,
    .whishlist {
        margin-right: 25px;
    }
    button {
        background: none;
        border: none;
        padding: 0;
    }
    .cart {
        filter: var(--svg-white-filter);
    }
}
